predict:
  out_dir: outputs/predictions_training_examples
  line_chart:
    out_dir: ${predict.out_dir}/charts
    start_nm: 400
    step_nm: 10
    normalize_custom_conditions: true
    class_names:
      - gv40_np35_soil25
      - gv20_np10_soil70
    custom_conditions:
      - [40, 35, 25]
      - [0.2, 0.1, 0.7]
trainer:
  callbacks:
    - class_path: callbacks.predict_line_charts.PredictLineCharts
      init_args:
        out_dir: outputs/predictions_training_examples/charts
        start_nm: 400
        step_nm: 10
        class_names:
          - gv40_np35_soil25
          - gv20_np10_soil70
        custom_conditions:
          - [40, 35, 25]
          - [0.2, 0.1, 0.7]
        normalize_custom_conditions: true
        save_spectra: true
        spectra_format: csv
        spectra_subdir: spectra
