seed_everything: 42

fit:
  run_batch_size_finder: false
  batch_size_finder_mode: power
  run_lr_finder: false
  show_lr_plot: true

trainer:
  max_epochs: 200
  precision: 32
  gradient_clip_val: 1.0
  default_root_dir: outputs
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: outputs/checkpoints/best
        filename: e_{epoch}-l_{val_loss:.4f}
        monitor: val_loss
        mode: min
        save_top_k: 1
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: outputs/checkpoints/interval
        filename: e_{epoch}
        every_n_epochs: 5
        save_top_k: -1
        save_last: false
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: epoch
    - class_path: callbacks.sample_images.SampleImages
      init_args:
        num_per_class: 8
    # - class_path: callbacks.line_charts.SampleLineCharts
    #   init_args:
    #     out_dir: outputs/line_charts
    #     start_nm: 400
    #     step_nm: 10
    #     class_names:
    #       - gv_fraction
    #       - npv_fraction
    #       - soil_fraction
    - class_path: callbacks.line_charts.SampleLineCharts
      init_args:
        out_dir: outputs/line_charts
        start_nm: 400
        step_nm: 10
        class_names:
          - gv40_np35_soil25
          - gv20_np10_soil70
        custom_conditions:
          - [40, 35, 25]
          - [0.2, 0.1, 0.7]
        normalize_custom_conditions: true
    - class_path: callbacks.predict_save.SavePredictionsCallback
      init_args:
        out_dir: outputs/predict
        grid_nrow: 8

model:
  input_dim: 210
  condition_dim: 3
  latent_dim: 32
  hidden_dims: [512, 256, 128]
  dropout: 0.1
  loss_name: beta_vae
  loss_params:
    beta: 4.0
    recon: mse
  lr: 0.001
  weight_decay: 0.0
  scheduler_cfg:
    name: cosine
    T_max: 200

data:
  csv_path: data/simpler_data_rwc.csv
  condition_columns:
    - gv_fraction
    - npv_fraction
    - soil_fraction
  spectral_range: [400, 2490, 10]
  batch_size: 256
  num_workers: 4
  splits: [0.8, 0.1, 0.1]
  seed: 42
  pin_memory: true

ckpt_path: null
